@import url("https://fonts.googleapis.com/css?family=Pathway Gothic One");
.timeline {
  margin: 50px auto;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-weight: 300;
  color: #777;
}
h1 span {
  font-weight: 600;
}

.timeline_container {
  width: 100%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}
.timeline_container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}
.timeline-block-left .marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #4f5ee9;
  margin-top: 10px;
  z-index: 9999;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #4fc1e9;
  margin-top: 10px;
  z-index: 9999;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}
.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}
.timeline-content span {
  font-size: 15px;
  color: #a4a4a4;
}
.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}

@media screen and (max-width: 768px) {
  .timeline_container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
/*======================== section C skills =========================*/
.skills {
  margin: 50px auto;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  padding: 100px 50px;
  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.lines {
  height: 100%;
  position: relative;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: rgba(238, 238, 238, 0.6);
}
.line.l--0 {
  left: 0;
}
.line.l--25 {
  left: 25%;
}
.line.l--50 {
  left: 50%;
}
.line.l--75 {
  left: 75%;
}
.line.l--100 {
  left: calc(100% - 1px);
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: -50px;
}
.line__label.title {
  text-transform: uppercase;
  font-weight: bold;
}

.charts {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.chart:not(:first-child) {
  margin-top: 10px;
}
.chart span {
  color: #777;
}

.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 0;
  -webkit-animation: 1s anim-lightspeed-in ease forwards;
          animation: 1s anim-lightspeed-in ease forwards;
}
.chart--prod .chart__title {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.chart--horiz {
  overflow: hidden;
}

.chart__bar {
  height: 30px;
  margin-bottom: 10px;
  background: linear-gradient(to left, #e785be, #5cb4fc);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0;
  -webkit-animation: 1s anim-lightspeed-in ease forwards;
          animation: 1s anim-lightspeed-in ease forwards;
}
.chart__bar span {
  color: #fff;
}
.chart--dev .chart__bar:nth-of-type(11) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}
.chart--dev .chart__bar:nth-of-type(10) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.chart--dev .chart__bar:nth-of-type(9) {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.chart--dev .chart__bar:nth-of-type(8) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}
.chart--dev .chart__bar:nth-of-type(7) {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
.chart--dev .chart__bar:nth-of-type(6) {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}
.chart--dev .chart__bar:nth-of-type(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.chart--dev .chart__bar:nth-of-type(4) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}
.chart--dev .chart__bar:nth-of-type(3) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.chart--dev .chart__bar:nth-of-type(2) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.chart--dev .chart__bar:nth-of-type(1) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.chart--prod .chart__bar:nth-of-type(2) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.chart--prod .chart__bar:nth-of-type(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

@-webkit-keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Fonts at: https://www.google.com/fonts */
/* Colors */
.parallax_txt span {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 3rem;
  position: relative;
  letter-spacing: -4px;
  color: #fcfcfd;
}
.parallax_txt span:before {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 7px;
  background: #fcfcfd;
  width: 0%;
  -webkit-animation: voila 2s forwards linear;
          animation: voila 2s forwards linear;
}
.parallax_txt span:nth-child(1) {
  opacity: 0.67;
}
.parallax_txt span:nth-child(2) {
  opacity: 0.86;
}
.parallax_txt span:nth-child(3) {
  opacity: 0.78;
}

@-webkit-keyframes voila {
  to {
    width: 100%;
  }
}

@keyframes voila {
  to {
    width: 100%;
  }
}
.sectionA_txt2 span {
  font-size: 2rem;
  font-family: "NanumSquareLight";
}

@media (max-width: 768px) {
  .sectionA_txt2 span {
    font-size: 1.5rem;
  }
}
/*================ contact ================*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Pretty Stuff */
.contact-form-container {
  background: #F4F3F3;
  font-family: "NanumSquare";
  margin: 0 auto;
}

.contact-us {
  position: relative;
  width: 100%;
  background: #d3c3ec;
  overflow: hidden;
}
.contact-us:before {
  position: absolute;
  content: "";
  bottom: -50px;
  left: -100px;
  height: 250px;
  width: 400px;
  background: #f3b7f8;
  transform: rotate(25deg);
}
.contact-us:after {
  position: absolute;
  content: "";
  bottom: -80px;
  right: -100px;
  height: 270px;
  width: 400px;
  background: #9ea3eb;
  transform: rotate(-25deg);
}

.contact-header {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 120px;
  left: -40px;
}
.contact-header h1 {
  font-size: 1.5rem;
}

/* .social-bar {
  position: absolute;
  bottom: 20px;
  left: 75px;
  z-index: 1;
  width: 100px;

  & ul {
    list-style-type: none;

    & li {
      display: inline-block;
      color: white;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      margin-right: -4px;
      font-size: 1.2rem;
    }
  }
} */
.header {
  text-align: center;
  padding: 20px 0;
  color: #444;
}
.header p {
  font-size: 1.5rem;
}

.address,
.email,
.phone {
  text-align: center;
  padding: 20px 0;
  color: #444;
}
.address h3,
.email h3,
.phone h3 {
  font-size: 1rem;
  font-weight: 300;
}
.address i,
.email i,
.phone i {
  color: #F8B7D8;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

form {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: white;
}
form input, form textarea {
  background: white;
  display: block;
  margin: 20px auto;
  width: 100%;
  border: 0;
}
form input {
  height: 40px;
  line-height: 40px;
  outline: 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  font-size: 1rem;
  color: rgba(68, 68, 68, 0.8);
}
form textarea {
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  color: rgba(68, 68, 68, 0.8);
}
form button {
  position: absolute;
  display: block;
  height: 40px;
  width: 250px;
  left: 50%;
  transform: translate(-50%);
  border: 0;
  border-radius: 20px;
  background: #9ED8EB;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  outline: none;
}

.contact-form {
  padding-bottom: 40px;
}

/* Layout Stuff */
.contact-form-container {
  margin-top: 80px;
  width: 70%;
  max-width: 900px;
  height: 60%;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "contact-us header header" "contact-us phone email";
  box-shadow: 2px 2px 5px 0px rgb(143, 143, 143);
}

.contact-us {
  grid-area: contact-us;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  grid-area: address;
}

.phone {
  grid-area: phone;
}

.email {
  grid-area: email;
}

.contact-form {
  grid-area: contact-form;
}/*# sourceMappingURL=common.css.map */