/************* 공통 **************/

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

*:after,*:before 
{
    box-sizing: inherit;
}

html
{
    height: 100%;
    
}

  body {
    font-family: 'NanumSquareAcr';
    margin: 0;
    position: relative;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.5);
    font-size: 2rem;
    min-height: 100%;
    height: 100vh;
  }
  .Quick-navigation {
    position: fixed;
    z-index: 1000;
    margin: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .Quick-navigation-item {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s;
    padding: 0.5em;
    display: block;
    pointer-events: all;
  }
  .Quick-navigation-item:hover,
  .Quick-navigation-item.current {
    color: rgb(205, 239, 255);
  }
  .Scroll-progress-indicator {
    will-change: opacity, transform;
    transition: all 0.5s;
    left: -10px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    opacity: 0;
    padding: 2em;
    transform: translateX(200%) translateY(-50%);
    background-color: rgba(0,0,0,0.1);
  }
  .Scroll-progress-indicator.visible {
    transform: translateX(-100%) translateY(-50%);
    opacity: 1;
    display: none;
  }

  @media (max-width: 768px)
  {
    .Quick-navigation
    {
      display: flex;
      justify-content: center;
      position: fixed;
      top: 20px;
      width: 100%;
      background: rgba(0,0,0,0.2);
    }

    .Quick-navigation a
    {
      font-size: 1rem;
      line-height: 1.5rem;
    }

  }

  #A 
  {
    background: linear-gradient(to bottom, #ACB6E5, #5993ff);
    height: 100%;
    padding-top: 30px;
  }

  @media (max-width: 768px)
  {
    #A 
    {
      padding-top: 0px;
    }
  }

  #B 
  {
    background: linear-gradient(to top, #ACB6E5, #5993ff);
  }
  #C 
  {
    background: linear-gradient(to bottom, #ACB6E5, #ace5c8);
  }
  #D 
  {
    background: linear-gradient(to top, #ACB6E5, #ace5c8);
  }
  #E 
  {
    background: linear-gradient(to bottom, #ACB6E5, #161150);
  }

  .Scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    border: none;
    color: rgba(255,255,255,0.5);
    font-size: 1.5rem;
    padding: 0.5em;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s;
    outline: none;
    z-index: 1000;
  }
  .Scroll-to-top.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .Scroll-to-top:hover {
    color: rgba(255,255,255,0.9);
  }
  
/************** section A ***************/

/*--- Parallax ---*/
.parallax 
{
    display: block;
    position: relative;
    width: 95%;
    max-width: 100%;
    height: 870px;
    padding: 50px 0;
    background: none;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
}

.parallax_txt
{
    /* width: 600px; */
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plx-img 
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 125%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sectionA_txt, .sectionA_txt2
{
  display: flex;
  justify-content: center;

}

@media (max-width: 768px)
{
  .sectionA_txt2.sectionA_txt2 span
  {
    font-size: 1.2rem;
  }
}

   /* background animation */

.blur,
.main,
.particles{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.blur{
/* 	  background-color: #212121; */
    /* background-image: url("https://github.com/ricardoolivaalonso/recursos/blob/master/bg.jpg?raw=true"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
	  transform: scale(1.2);
/*     animation: bg 8s linear infinite alternate; */

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
}
.title{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 10px;
    padding: 12.5px 25px;
    text-shadow: 1px 1px 10px black;
    border: 2px solid rgba( 255, 255, 255, .5);
    border-radius: 4px;
    color: white;
}

.particles{
    position: absolute;
    z-index: 200;
    overflow: hidden;
}

.particle{
    border-radius: 50%;
    filter: blur(3px);
    position: absolute;
}
@keyframes bg {
    0%{ transform: scale(1.2);}
    100%{ transform: scale(1.3);}
}
@keyframes move {
    0%{
        transform: translateX(0);
        opacity: 0;
    }
    10% ,90%{
        opacity: 1;
    }
    100%{
        transform: translateX(45vw);
        opacity: 0;
    }
}

.main_text {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.952);
  font-family: 'NanumSquareAcb';
}

/****************** section B ********************/

#B
{
    height: 100%;
    color: rgba(255, 255, 255, 0.808);
    font-size: 1.2rem;
    align-items: baseline;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    /* padding: 5vh 100px; */
    /* background:linear-gradient(to bottom, rgba(125,185,232,1) 50%,rgba(125,185,232,1) 0%,rgba(30,87,153,1) 100%); */
}

.section_wrap
{
    display: block;
    width: 100%;
}

#B .main_text
{
  margin-top: 50px;
}

.main_text
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.952);
}

.section_wrap p
{
    padding-top: 50px;
    display: block;
    text-align: center;
}


/****************** section C ********************/

#C
{
    height: 100%;
    color: rgba(255, 255, 255, 0.808);
    font-size: 1.2rem;
    align-items: baseline;
    display: flex;
    /* align-items: center; */
    justify-content: baseline;
    min-height: 100vh;
}

.slider-wrapper {
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .slider {
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    padding: 0 10px;
  }
  
  .slider > div {
    box-sizing: border-box;
    color: #FFF;
    height: 50px;
    margin-bottom: 50px;
    padding: 0 10px;
    text-align: center;
  }
  
  .text1 {
    background-color: #2ed573;
    animation: slide 15s linear infinite;
  }
  
  .text2 {
    background-color: #a647dd;
  }
  
  .text3 {
    background-color: #ff4757;
  }

  .text4
  {
    background-color: pink;
  }

  .text5
  {
    background-color: rgb(248, 208, 78);
  }
  
  @keyframes slide {
    0% { margin-top: -500px; }
    5% { margin-top: -400px; }
    20% { margin-top: -400px; }
    25% { margin-top: -300px; }
    40% { margin-top: -300px; }
    45% { margin-top: -200px; }
    60% { margin-top: -200px; }
    65% { margin-top: -100px; }
    80% { margin-top: -100px; }
    85% { margin-top: -0; }
    100% { margin-top: 0; }
  }

.skills_img 
{
    display: flex;
    justify-content: center;
}

.skills_img img
{
    width: 80px;
    height: 80px;
    margin: 20px;
}

@media (max-width: 768px)
{
  .slider-wrapper 
  {
    display: block;
    text-align: center;
  }

  .skills_img
  {
    display: none;
  }
}


/* skillset */


/************** section D ***************/
#D .main_text {
    padding-top: 0px;
    margin: 50px 0;
}
/* tab contents slider */
.tab-inner {
  position: relative;
}

input[name="tabmenu"] {
  display: none;
}

.tabs {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.items {
  height: 100vh;
  width: 300%;
  display: flex;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.items .tab-item {
  height: 100vh;
  width: 33.33333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .items div:nth-child(1) {
  background-color: teal;
}
.items div:nth-child(2) {
  background-color: rgb(123, 89, 126);
}
.items div:nth-child(3) {
  background-color: rgb(133, 209, 89);
} */

.items .tab-item h1 {
  font-weight: 400;
}

.tab-btn {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.tab-btn label {
  display: inline-block;
  height: 5px;
  width: 50px;
  background: #ffffff69;
  cursor: pointer;
}

input[id="tab1"]:checked ~ .tabs .items {
  left: 0;
}

input[id="tab2"]:checked ~ .tabs .items {
  left: -100%;
}

input[id="tab3"]:checked ~ .tabs .items {
  left: -200%;
}

input[id="tab1"]:checked ~ .tab-btn label[for="tab1"],
input[id="tab2"]:checked ~ .tab-btn label[for="tab2"],
input[id="tab3"]:checked ~ .tab-btn label[for="tab3"] {
  background-color: rgba(172, 84, 255, 0.466);
}

/* tab - works */
.item-wrap
{
  width: 100%;
  height: 100%;
}

.item-inner
{
  display: flex;
  width: 80%;
  height: 50%;
  margin: 0 auto;
}

.item-img
{
  /* width: 50%; */
  /* height: 100%; */
  max-width: 554px;
  margin: 0 auto;
  position: relative;
}

.item-img img
{
  top: 0px;
  left: 0;
  width: 100%;
  max-width: 550px;
}

.tabs-title
{
  color: #ffffff;
  font-size: 1.8rem;
  margin: 150px 0 50px 0;
}

.item-txt
{
  color: #ffffff;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.itemtext
{
  margin-top: 50px;
}

.item-txt p, .itemtext_inner
{
  padding: 0;
  font-size: 1.1rem;
  width: 70%;
  margin: 0 auto;
  text-align: -webkit-left;
}

.itemtext_inner p
{
  display: inline;
  font-size: 1rem;
  width: 70%;
  margin: 0 auto;
}

.itemtext_inner > p:first-child
{
  color: #ff4757;
}

.item-shortcut
{
  width: 100%;
  text-align: center;
  /* margin-top: 80px; */
}

.item-shortcut button
{
  width: 150px;
  height: 50px;
  border: none;
  font-size: 1rem;
  background-image: linear-gradient(315deg, #9face9 0%, #b274eb 84%);
  transition: all 0.3s ease;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 0px rgb(143, 143, 143);
  cursor: pointer;
  transition: all 0.5s;
}

.item-shortcut button:hover
{
  color: #ffffff;
  background-image: linear-gradient(315deg, #e99fe3 0%, #74aceb 84%);
}

.item-txt-btn
{
  display: none;
}

@media (max-width: 1024px)
{
  .item-wrap
  {
    position: relative;
  }

  .item-inner
  {
    display: block;
    width: 90%;
    height: 55%;
    margin: 0 auto;
    position: relative;
  }

  .item-img
  {
    cursor: pointer;
  }

  .item-txt 
  {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.719);
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }

  .item-txt-btn
  {
    display: block;
    position: absolute;
    /* top: 0; */
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
    border: #9face9 1px solid;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
  }

  .item-txt-btn:hover
  {
    background-color: #9face9;
  }

  .item-shortcut
  {
    margin:0 auto;
  }

  .itemtext
  {
    margin: 30px 0;
  }

  .itemtext_inner p
  {
    display: inline;
    font-size: 1.1rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 768px)
{
  .main_text
  {
    font-size: 1.8rem;
  }

  .tabs-title
  {
    font-size: 1.3rem;
  }

  .item-inner 
  {
    height: 50%;
  }

  .item-txt 
  {
    padding-top: 20px;
    line-height: 30px;
  }

  .item-txt p, .itemtext_inner 
  {
    font-size: 0.9rem;
  }

  .itemtext
  {
    margin: 20px 0;
  }

  .item-txt-btn
  {
    left: 50%;
    transform: translateX(-50%);
  }

}

 /************** section E ***************/

#E > .section_wrap
{
  position: relative;
  width: 100%;
  height: 100%;
}

.background 
{
  width: 100%;
  height: 30%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: end; */
  /* position: relative; */
}

.background img 
{
  width: 100%;
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

/*================= section E ================*/

canvas#canvas {
  width: 100%;
  height: 100%;
  display: block;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}

canvas > .main_text
{
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0;
}

.contact
{
  position: absolute;
}


